body {
    font-size: 16px;
}

h1 {
    font-size: 48px;
    color: #2E7AD3;
    text-align: center;
    margin: 45px 0;
}

h2 {
    font-size: 32px;
    color: #104C90;
    margin: 0 0 10px;
}

a {
    color: #FF8000;
    font-weight: bold;
}

a:hover,
a:focus {
    color: #104C90;
}

.blog-post {
    background: #F1F1F1;
    width: 450px;
    padding: 25px;
    margin: 0 auto;
}

.read-more {
    margin: 0;
}
