body {
    margin: 0;
}

h1, h2, p {
    margin-top: 0;
}

h1 {
    font-size: 24px;
    font-weight: 400;
}

p {
    font-size: 30px;
}

a {
    color: inherit;
}

header,
section {
    padding: 50px;
}

header {
    background: #FFE600;
    color: #000;
}

.section-one {
    background: black;
    color: white;
}

.section-two-link {
    color: black;
}

.btn-yellow {
    display: inline-block;
    padding: 12px 25px;
    background: #FFE600;
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.btn-yellow:hover {
    background: white;
}

.btn-black {
    display: inline-block;
    padding: 12px 25px;
    background: #000;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.btn-black:hover {
    background: #FFE600;
    color: black;
}

body {
    color: lightblue;
}

.section-one {
    color: orange;
}

p {
    color: pink;
}
