body {
    letter-spacing: 4px;
    background: #B7111B;
    color: #FAFBF4;
    text-align: center;
    font-family: "Kanit", sans-serif;
}

h1 {
    font-size: 80px;
    text-shadow: 2px 2px black;
}
