html, body {
    margin: 1em;
    padding: 0;
}

.grid-container {
    display: grid;
    gap: .5em;
    grid-template-columns: repeat(3, 1fr) 30px 30px repeat(3, 3fr);
    border: 2px solid black;
}

.grid-item {
    background-color: skyblue;
    padding: .2em;
    text-align: center;
    font-size: 2em;
    color: black;
    border: 1px solid #999;
}
