body {
    margin: 0;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    color: #2E354F;
}

h1,
h2,
strong {
    font-weight: 900;
}

/* Typography */

h1 {
    font-size: 36px;
    margin: 0;
}

h2 {
    font-size: 24px;
    color: #EF5839;
}

a {
    color: #EF5839;
}

a:hover,
a:focus {
    color: #D4B44C;
}

/* Buttons */

.btn {
    display: inline-block;
    margin-right: 18px;
    padding: 10px 25px;
    text-decoration: none;
}

.btn-accent {
    background: #EF5839;
    color: #FFF;
}

.btn-accent:hover {
    color: #2E354F;
    background: #D4B44C;
}

.btn-white {
    background: #FFF;
    color: #2E354F;
}

.btn-white:hover {
    color: #2E354F;
    background: #999;
}

/* Layout */

header {
    background: #2E354F;
    padding: 45px 0;
    color: #FFF;
}

section {
    padding: 45px 0;
}

.container {
    width: 50%;
    margin: 0 auto;
}

.section-two {
    background: #2E354F;
    color: #FFF;
}
