body {
    margin: 0;
}

.red {
    background: #C71226;
    height: 100px;
    margin-bottom: 15px;
}

.blue {
    background: #0D1B88;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.green {
    background: #397327;
    height: 100px;
}
